/bin/authtest
/bin/benchcmp
/bin/bundle
/bin/callgraph
/bin/compilebench
/bin/cookieauth
/bin/cover
/bin/digraph
/bin/eg
/bin/fiximports
/bin/getgo
/bin/gitauth
/bin/go-contrib-init
/bin/godex
/bin/godoc
/bin/goimports
/bin/gomvpkg
/bin/gorename
/bin/gotype
/bin/goyacc
/bin/guru
/bin/hanoi
/bin/html2article
/pkg/darwin_amd64/golang.org/x/tools/cmd/splitdwarf/internal/macho.a
/bin/netrcauth
/bin/present
/bin/present2md
/pkg/darwin_amd64/golang.org/x/tools/cmd/guru/serial.a
/bin/server
/bin/splitdwarf
/bin/ssadump
/bin/stress
/bin/stringer
/bin/toolstash
